</div>

<div class="postamble">
    <div class="postamble__entry">Exported {{ messages_written }} message(s)</div>
    <div class="postamble__entry">Timezone: UTC{{ timezone_text }}</div>
</div>

</body>

</html>
